$screen-break-point: 820px;
$font-color: #444;
$font-size: 13px;
$link-color: #444;

* {
  margin: 0;
  padding: 0;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.20s;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.20s;
  -webkit-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.20s;
  -o-transition-timing-function: linear;
  transition-property: background-color;
  transition-duration: 0.20s;
  transition-timing-function: linear;
}

body {
  font-family: sans-serif;
  line-height: 1.2em;
  background-color: #f3f3f3;
  background-image: url(../images/soft_wallpaper.webp);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0 0;
  color: $font-color;
  height: 100%;
  width: auto;
}

ul {
  margin: 0 0 0 15px;
  position: relative;
}

li {
  margin: 0 0 5px 0;
  font-size: $font-size;
}

p {
  text-align: justify;
  font-size: $font-size;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  font-weight: bold;
  font-size: 14px;
}

h1.sectionHead, h2.sectionHead {
  &:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: -105px;
    top: -15px;
    background-image: url(../images/icons.webp);
  }

  clear: both;
  font: bold 20px/12px 'verdana', sans-serif;
  margin: 60px -60px;
  border-left: 52px solid $font-color;
  color: $font-color;
  padding: 1px 0 0 8px;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: relative;

  &.titleName {
    margin: 20px -60px 10px;

    &:before {
      background-position: -90px bottom;
    }
  }

  &#ribbon:before {
    background-position: left -45px;
  }

  &#tools:before {
    background-position: left top;
  }

  &#learn:before {
    background-position: right top;
  }

  &#eye:before {
    background-position: -90x top;
  }

  &#clock:before {
    background-position: -45px top;
  }

  &#chat:before {
    background-position: -45px bottom;
  }

  &#contact:before {
    background-position: right bottom;
  }
}

.clear {
  clear: both;
}

.flex {
  display: flex;
  align-items: center;
  flex: 1;

  & > * {
    flex: 1;
  }
}
@for $i from 1 through 10 {
  .flex-grow-#{$i} {
    flex-grow: #{$i};
  }
}

.dark {
  text-decoration: none;
  border: none;
  background: $font-color;
  color: #fff;
  padding: 3px 5px;
  margin: -3px 0 0 0;
}

#sticker {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  background: #fff;
  background: rgba(255, 255, 255, .98);
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  z-index: 1000;
  transition: 500ms;

  h1.sectionHead, h2.sectionHead {
    &:before {
      left: -40px;
      top: 5px;
    }

    border: none;
    margin: 0 0 0 50px;
    line-height: 55px;
    padding: 0 0 0 8px;
  }

  .platformIcons {
    top: 10px;
    right: 15px;
  }
}

.platformIcons {
  width: 50%;
  height: 30px;
  position: absolute;
  top: -35px;
  right: 0;
  text-align: right;
  font-size: 26px;

  .platformIcon {
    &:hover {
      border: none;
    }

    border: none;

    &:not(:first-child) {
      margin-left: .5em;
    }
  }

  .twitterIcon:hover {
    color: #1DA1F2;
  }

  .facebookIcon:hover {
    color: #4267B2;
  }

  .linkedinIcon:hover {
    color: #2867B2;
  }

  .githubIcon:hover {
    color: black;
  }
}

.card {
  clear: left;
  margin: 40px auto;
  padding: 40px 45px;
  max-width: 560px;
  background: #fbfbfb;
  border-radius: 8px;
  border-style: solid;
  position: relative;
  border-width: 0 1px 1px 1px;
  border-color: #fff #f3f3f3 #e8e8e8;
  line-height: 1.6em;

  a {
    @extend .dark;

    &:hover {
      text-decoration: none;
      color: #fff;
      background: #222;
    }
  }
}

#bio {
  position: relative;

  h2 {
    font-size: 15px;
  }

  p {
    @extend .card;
  }
}

p.warning {
  @extend .card;
  background: #fdf5ef;
}

#avatar {
  margin-right: 20px;
  width: 100px;

  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down
  }
}

#wrapper {
  max-width: 700px;
  margin: 60px auto 30px;
  padding: 60px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  position: relative;
}

ul#skills {
  margin: 0;
  width: 100%;
  overflow: hidden;

  li {
    background-color: $font-color;
    color: #fff;
    font: bold 9px/20px sans-serif;
    letter-spacing: 1px;
    margin-bottom: 3px;
    padding: 3px 1.1428571428571428% 0;
    text-transform: uppercase;

    &:hover {
      background: #222;
    }
  }
}
$i: 10;
@while $i <= 100 {
  .s#{$i} {
    width: percentage($i/100);
  }
  $i: $i + 10;
}

#honorsAwards li {
  padding-left: 5px;
  margin-bottom: 8px;
}

ul#jobs,ul#schools {
  margin: 0;
  list-style: none;

  li {
    margin: 0 0 20px 0;
    clear: both;

    .details {
      float: left;
      width: 40%;

      h5 {
        font-style: italic;
      }
    }
  }
}

#copyright {
  text-align: center;
  font: bold 10px sans-serif;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px 0 60px;
  text-shadow: 1px 1px 1px #fff;
}

// responsive layout
@media (max-width: $screen-break-point) {
  body {
    background: #fff;

    #sticker {
      display: none;
    }

    #wrapper {
      margin: 0 auto;
      padding: 30px;
      background: #fff;
      box-shadow: none;
    }

    h1, h2{
      &.sectionHead {
        font-size: 15px;
        letter-spacing: -1px;
        margin: 40px 0 50px -60px;
        padding-left: 8px;
      }
      &.titleName {
        margin: 20px 0 10px -6Opx;
      }
    }
    p {
      text-align: left;
    }

    .platformIcons {
      height: 30px;
      margin-top: 20px;
      position: relative;
      right: auto;
      text-align: left;
      top: auto;
      width: 100%;
    }

    #bio {
      h1, h2 {
        font-size: 12px;
      }
      p {
        padding: 0;
        background: #fff;
        max-width: 100%;
        border: none;
      }
    }

    ul#jobs,  ul#schools {
      li {
        .details {
          float: none;
          width: 100%;
        }

        p {
          float: none;
          width: 100%;
          margin-bottom: 50px;
          margin-top: 10px;
        }
      }
    }
  }
}