* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: normal;
  background: #fafafa;
  color: #444;
  padding: 1em;
}

main {
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: none;
}

section {
  page-break-inside: avoid;
}

ul {
  margin: 0 0 0 15px;
  position: relative;
}

li {
  margin: 0 0 5px 0;
  position: relative;
  font-size: 13px;
}

p {
  text-align: justify;
  font-size: 13px;
}

a {
  color: #444;
  text-decoration: none;
}

#sticker, #avatar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: normal;
}

h3 {
  font-weight: bold;
}

#bio {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    clear: left;
    margin: 20px 0 10px;
    padding: 0;
    background: none;
    border: none;
  }
}

.platformIcons {
  display: none;
}

h2.sectionHead {
  margin: 30px 0 15px;
  clear: both;
  font: bold 22px serif;
}

#contact, footer {
  display: none;
}