* {
  margin: 0;
  padding: 0;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.20s;
  -moz-transition-timing-function: linear;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.20s;
  -webkit-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.20s;
  -o-transition-timing-function: linear;
  transition-property: background-color;
  transition-duration: 0.20s;
  transition-timing-function: linear;
}

body {
  font-family: sans-serif;
  line-height: 1.2em;
  background-color: #f3f3f3;
  background-image: url(../images/soft_wallpaper.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0 0;
  color: #444;
  height: 100%;
  width: auto;
}

.hide {
  display: none;
}