body.respond {
  background: #fff;
}

body.respond #sticker {
  display: none;
}

body.respond #wrapper {
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  box-shadow: none;
}

body.respond h2.sectionHead {
  font-size: 15px;
  letter-spacing: -1px;
  margin: 40px 0 50px -60px;
  padding-left: 8px;
}

body.respond h2#titleName {
  margin: 20px 0 10px -60px;
}

body.respond p {
  text-align: left;
}

body.respond #socialIcons {
  height: 30px;
  margin-top: 20px;
  position: relative;
  right: auto;
  text-align: left;
  top: auto;
  width: 100%;
}

body.respond #bio h2 {
  font-size: 12px;
}

body.respond #bio p {
  padding: 0;
  background: #fff;
  max-width: 100%;
  border: none;
}

body.respond ul#seenOn li {
  height: auto;
  line-height: 1em;
}

body.respond ul#seenOn li img {
  width: 96%;
  height: auto;
  padding: 2%;
}

body.respond ul#jobs li .details,
body.respond ul#schools li .details,
body.respond ul#recommends li .details {
  float: none;
  width: 100%
}

body.respond ul#jobs li p,
body.respond ul#schools li > p,
body.respond ul#recommends li > p {
  float: none;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 10px;
}