@import "reset.css";
@import "responsive.css";

.flex {
  display: flex;
}

.flex.flex-center {
  align-items: center;
}

@media (max-width: 820px) {
  .flex {
    flex-direction: column;
    margin-top: 1em;
  }
}

#avatar {
  width: 100px;
  margin-right: 20px;
}

#wrapper {
  max-width: 700px;
  margin: 60px auto 30px;
  padding: 60px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  position: relative;
}

ul {
  margin: 0 0 0 15px;
  position: relative;
}

li {
  margin: 0 0 5px 0;
  font-size: 13px;
}

p {
  text-align: justify;
  font-size: 13px;
}

.clear {
  clear: both;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#sticker {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  background: #fff;
  background: rgba(255, 255, 255, .98);
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  z-index: 1000;
}

#sticker h2.sectionHead {
  border: none;
  margin: 0 0 0 50px;
  line-height: 55px;
  padding: 0 0 0 8px;
}

#sticker h2.sectionHead:before {
  left: -40px;
  top: 5px;
}

#sticker #socialIcons {
  top: 10px;
  right: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  font-weight: bold;
  font-size: 14px
}

h2.sectionHead {
  clear: both;
  font: bold 20px/12px 'verdana', sans-serif;
  margin: 60px -60px;
  border-left: 52px solid #444;
  color: #444;
  padding: 1px 0 0 8px;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: relative;
}

h2.sectionHead:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  left: -105px;
  top: -15px;
  background-image: url(../images/icons.png);
}

h2#titleName {
  margin: 20px -60px 10px;
}

h2#ribbon:before {
  background-position: left -45px;
}

h2#tools:before {
  background-position: left top;
}

h2#learn:before {
  background-position: right top;
}

h2#eye:before {
  background-position: -90px top;
}

h2#clock:before {
  background-position: -45px top;
}

h2#chat:before {
  background-position: -45px bottom;
}

h2#titleName:before {
  background-position: -90px bottom;
}

h2#contact:before {
  background-position: right bottom;
}

#bio {
  position: relative;
}

#bio h2 {
  font-size: 15px;
}

#bio p {
  clear: left;
  margin: 40px auto;
  padding: 40px 45px;
  max-width: 560px;
  background: #fbfbfb;
  border-radius: 8px;
  border-style: solid;
  position: relative;
  border-width: 0 1px 1px 1px;
  border-color: #fff #f3f3f3 #e8e8e8;
  line-height: 1.6em;
}

#bio iframe {
  margin: 0 auto;
  display: block;
}

#bio p a, span.dark {
  text-decoration: none;
  border: none;
  background: #444;
  color: #fff;
  padding: 3px 5px;
  margin: -3px 0 0 0;
}

#bio p a:hover {
  text-decoration: none;
  color: #fff;
  background: #222;
}

#bio a.selectedWork {
  visibility: hidden;
  padding: 0;
  margin: 0;
}

#socialIcons {
  width: 50%;
  height: 30px;
  position: absolute;
  top: -35px;
  right: 0;
  text-align: right;
  font-size: 26px;
}
#socialIcons .socialIcon:not(:first-child) {
  margin-left:.5em;
}

.socialIcon {
  border: none;
}

.socialIcon:hover {
  border: none;
}

#twitterIcon:hover {
  color: #1DA1F2;
}

#facebookIcon:hover {
  color: #4267B2;
}
#linkedinIcon:hover {
  color: #2867B2;
}
#githubIcon:hover {
  color: black;
}

ul#skills {
  margin: 0;
  width: 100%;
  overflow: hidden;
  background: url(../images/loading.gif) no-repeat center 30%;
}

ul#skills.ready {
  background: none;
}

ul#skills li {
  position: relative;
  right: 100%;
  background-color: #444;
  color: #fff;
  font: bold 9px/20px sans-serif;
  letter-spacing: 1px;
  margin-bottom: 3px;
  padding: 3px 1.1428571428571428% 0;
  text-transform: uppercase;
  z-index: 1;
}

ul#skills li:after {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 26px;
  width: 50px;
  text-align: right;
  color: #aaa;
}

ul#skills li.s100:after {
  content: "100%";
}

ul#skills li.s90:after {
  content: "90%";
}

ul#skills li.s80:after {
  content: "80%";
}

ul#skills li.s70:after {
  content: "70%";
}

ul#skills li.s60:after {
  content: "60%";
}

ul#skills li.s50:after {
  content: "50%";
}

ul#skills li.s40:after {
  content: "40%";
}

ul#skills li.s30:after {
  content: "30%";
}

ul#skills li.s20:after {
  content: "20%";
}

ul#skills li.s10:after {
  content: "10%";
}

ul#skills li span {
  display: none;
}

ul#skills li:hover {
  background: #222;
}

li.s100 {
  width: 97.71428571428571%;
}

li.s90 {
  width: 87.71428571428571%;
}

li.s80 {
  width: 77.71428571428571%;
}

li.s70 {
  width: 67.71428571428571%;
}

li.s60 {
  width: 57.714285714285715%;
}

li.s50 {
  width: 47.714285714285715%;
}

li.s40 {
  width: 37.714285714285715%;
}

li.s30 {
  width: 27.714285714285715%;
}

li.s20 {
  width: 17.714285714285715%;
}

li.s10 {
  width: 7.714285714285714%;
}

#honorsAwards li {
  padding-left: 5px;
  margin-bottom: 8px;
}

ul#jobs,
ul#schools,
ul#recommends,
ul#seenOn {
  margin: 0;
  list-style: none;
}

ul#jobs li,
ul#schools li,
ul#recommends li {
  margin: 0 0 20px 0;
  clear: both;
}

ul#jobs li .details,
ul#schools li .details,
ul#recommends li .details {
  float: left;
  width: 40%
}

ul#jobs li p,
ul#schools li > p,
ul#recommends li > p {
  float: right;
  width: 57%;
  margin-bottom: 25px;
}

.details h5 {
  font-style: italic;
}

#copyright {
  text-align: center;
  font: bold 10px sans-serif;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px 0 60px;
  text-shadow: 1px 1px 1px #fff;
}