// layout
$screen-break-point: 820px;
$wrapping-width: 700px;

// colors
$accent-color: #444;
$link-color: $accent-color;

// font
$font-color: $accent-color;
$font-size: 13px;

// form controls
$form-control-border: 1px solid #bfb8b1;
$form-control-br: 3px;
$form-control-font-size: .9em;
$form-control-padding: .4em;

$button-bg: linear-gradient(to bottom, #f5f4f3 0%, #eae8e6 100%);
$button-bg-hover: #f5f4f3;