// breakpoints
$screen-break-point: 768px;

// colors
$bg-color-light: white;
$bg-color-dark: #0d1117;
$border-color-dark: #30363d;
$bg-accent-color: #f6f8fa;

// font
$font-color-dark: #c9d1d9;
$font-color-light: #586069;
$font-size: 13px;