@import "vars";

body {
  font-size: 13px;
  color: $font-color-light;
  background-color: $bg-accent-color;
}

main {
  background-color: $bg-color-light;
}

ul {
  margin: 0;
  padding: 0;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.strikeThrough {
  text-decoration: line-through;
}

.avatarContainer {
  border-radius: 50% !important;
  z-index: 4;

  .avatar {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: $screen-break-point) {

  main {
    margin: 0 !important;
    border: none !important;
    background-color: $bg-color-dark;
    color: $font-color-dark;
  }

  @media (prefers-color-scheme: light) {
    main {
      background-color: $bg-color-dark;
    }

    .avatarContainer {
      border-color: $border-color-dark !important;
    }

    footer {
      border-color: $border-color-dark !important;
    }
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  h1 {
    padding-bottom: 0 !important;
    margin: 0;
    border-color: $border-color-dark !important;
  }

  .flexWrapper {
    flex-wrap: wrap !important;
  }
}