@import "vars";

html, body {
  font-size: $font-size;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.strikeThrough {
  text-decoration: line-through;
}

.avatarContainer {
  border-radius: 50% !important;
  z-index: 4;

  .avatar {
    width: 150px;
    height: 150px;
  }
}

img.emoji {
  height: 1em;
  width: auto;
}

@media (prefers-color-scheme: dark) {
  body, main {
    background-color: #0d1117 !important; //todo "canvas" doesn't seem to work on mobile? (or it's cached)
  }
}

@media (max-width: $screen-break-point) {

  main {
    margin: 0 !important;
    border: none !important;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  h1 {
    padding-bottom: 0 !important;
    margin: 0;
  }

  .flexWrapper {
    flex-wrap: wrap !important;
  }
}