<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <springProfile name="!gcp">
    <root>
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="gcp">
    <appender class="com.google.cloud.logging.logback.LoggingAppender" name="CLOUD">
      <log>application.log</log>
    </appender>

    <root>
      <appender-ref ref="CLOUD"/>
    </root>
  </springProfile>
</configuration>