@media (prefers-color-scheme: dark) {
  // lazy fix for #28
  body {
    background: #161b22;
  }
}

#root,
.wrapper,
body,
html {
  min-height: 100vh;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.strikeThrough {
  text-decoration: line-through;
}
