@import "vars";
@media (prefers-color-scheme: dark) {
  // lazy fix for #28
  body {
    background: #161b22;
  }
}

#root,
.wrapper,
body,
html {
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.strikeThrough {
  text-decoration: line-through;
}

.avatarContainer {
  border-radius: 50% !important;
  z-index: 4;

  .avatar {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: $screen-break-point) {
  .wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }



  .avatar {
    width: 100px;
    height: 100px;
  }

  h1 {
    padding-bottom: 0 !important;
    margin: 0;
  }

  .noColumnsOnBreak {
    grid-template-columns: none !important;
  }

  .responsiveWrap {
    flex-wrap: wrap;
  }
}
