@media (prefers-color-scheme: dark) {
  // lazy fix for #28
  body {
    background: #161b22;
  }
}

#root,
.wrapper,
body,
html {
  min-height: 100vh;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.strikeThrough {
  text-decoration: line-through;
}

.rainbowBorder:hover {
  background: linear-gradient(to bottom right, #b827fc 20%, #2c90fc 40%, #b8fd33 60%, #fec837 75%, #fd1892 90%);
}