name: Build and quality check
on: push
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Code standards
    runs-on: ubuntu-22.04
    steps:
      - name: 'checkout repository'
        uses: actions/checkout@v6

      - name: 'setup node'
        uses: actions/setup-node@v6
        with:
          cache: 'npm'

      - name: 'install dependencies'
        run: npm ci

      - name: 'lint code'
        run: npm run lint
